* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*-------------------------------------------------------------------------------*/
/* CSS GRID */
.container {
    grid-template-columns: 1fr;
    grid-template-rows: auto 90% 3rem;
}
.menu {
	background: whitesmoke;
    grid-column: 1/-1;
    height: 3rem;
}
.menu div {
	display: inline-block;
	padding: 0.3rem;
}
.menu div h1 {
	background: lightcoral;
	border-radius: 0.5rem;
    color: white;
    font-size: 1.8rem;
}
.menu div p {
	float: left;
	font-size: 0.9rem;
}
.box {
    grid-column: 1/-1;
    border: 0.5rem solid grey;
    border-radius: 0.4rem;
    margin: 0.2rem;
    height: 82%;
}
.footbar {
    grid-column: 1/-1;
    height: 3rem;
}
.kalkulator {
    margin: 3.125rem;
    text-align: center;
}

/*-------------------------------------------------------------------------------*/
/* Membuat tampilan Botton*/

.oprator {
    margin: 1.25rem;
}
button{
	border: 1px solid #801515;        /* border: tebal[px] tipe[solid,dashed,dotted] warna[#hex, rgb()]; */
	background-color: #801515;        /* ubah warna background */
	color: #FFFFFF;                   /* ubah warna font */
	font-size: 1rem;                  /* ubah ukuran font */
	width: 6.25rem;                     /* set panjang button. ukuran width = ukuran height */
	height: 6.25rem;                    /* set tinggi button. ukuran width = ukuran height */
	line-height: 1rem;                /* set line height = font size */
	text-align: center;               /* text posisi center */
    border-radius: 50%;               /* set radius sudut pada button */
    margin: 1.25rem;
}
button:hover {
	opacity: 0.8;                     /* ubah tingkat transparansi saat cursor menuju button. 0.0 s.d 1.0 */ 
}
button:active {
	background: #550000;              /* ubah background saat button ditekan */
}
/*-------------------------------------------------------------------------------*/
/* Mengatur menu footbar*/
.footbar {
	background: lightblue;
	grid-column: 1/-1;
	height: 2.5rem;
	text-align: center;
}
.footbar { /* fixed position*/
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}
.footbar a {
	display: inline-block;
	color: black;
	width: 20%;
}
.footbar a:hover {
  color: red;
}

@media (min-width: 768px) { /* media query */
	
	.footbar{ /* position */
		position: absolute;
		top: 0;
	}
	.footbar{
		background: none;
		left: 66.6%;
		width: 33.3%;
		padding-top: 0.3rem;

	}
}
